[data-toaster-content] {
  position: fixed;
  width: var(--width);
}
[data-toaster-content] {
  list-style: none;
}
[data-toaster-content][data-position-y='top'] {
  top: var(--offset-top);
  --y: translateY(-100%);
}
[data-toaster-content][data-position-x='right'] {
  right: var(--offset-right);
}
[data-toaster-content][data-position-x='left'] {
  left: var(--offset-left);
}
[data-toaster-content][data-position-y='bottom'] {
  bottom: var(--offset-bottom);
}

[data-toast-item][data-mounted='true'] {
  --y: translateY(0);
  opacity: 1;
}
[data-toast-item][data-position-y='top'] {
  top: 0;
  --y: translateY(-100%);
}
[data-toast-item][data-visible='false'] {
  opacity: 0;
  pointer-events: none;
}
[data-toast-item][data-expanded='true'][data-mounted='true'] {
  --y: translateY(calc(var(--offset) * 1));
  height: var(--initial-height);
}

[data-toast-item][data-toast-variant='success'] {
  background: var(--success-color);
}
[data-toast-item][data-toast-variant='error'] {
  background: var(--error-color);
}
[data-toast-item][data-toast-variant='warning'] {
  background: var(--warning-color);
}
[data-toast-item][data-toast-variant='info'] {
  background: var(--info-color);
}

[data-toast-item] {
  --y: translateY(100%);
  overflow-wrap: anywhere;
  z-index: var(--z-index);
  position: absolute;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  border-radius: var(--border-radius);
  transform: var(--y);
  transition: transform 0.4s, opacity 0.4s, height 0.4s, box-shadow 0.2s;
}
