[data-toaster-content] {
  position: fixed;
  width: var(--width);
}
[data-toaster-content] {
  list-style: none;
}
[data-toaster-content][data-position-y='top'] {
  top: var(--offset-top);
  --y: translateY(-100%);
}
[data-toaster-content][data-position-x='right'] {
  right: var(--offset-right);
}
[data-toaster-content][data-position-x='left'] {
  left: var(--offset-left);
}
[data-toaster-content][data-position-y='bottom'] {
  bottom: var(--offset-bottom);
}

[data-toast-item][data-mounted='true'] {
  --y: translateY(0);
  opacity: 1;
}
[data-toast-item][data-position-y='top'] {
  top: 0;
  --y: translateY(-100%);
}
[data-toast-item][data-visible='false'] {
  opacity: 0;
  pointer-events: none;
}
[data-toast-item][data-expanded='true'][data-mounted='true'] {
  --y: translateY(calc(var(--offset) * 1));
  height: var(--initial-height);
}

[data-toast-item][data-toast-variant='success']
  span
  svg:not([data-loader-icon] svg) {
  color: var(--success-color);
  fill: var(--success-color);
  stroke: var(--text-color-foreground);
}

[data-toast-item][data-toast-variant='error']
  span
  svg:not([data-loader-icon] svg) {
  color: var(--error-color);
  fill: var(--error-color);
  stroke: var(--text-color-foreground);
}

[data-toast-item][data-toast-variant='warning']
  span
  svg:not([data-loader-icon] svg) {
  color: var(--warning-color);
  fill: var(--warning-color);
  stroke: var(--text-color-foreground);
}

[data-toast-item][data-toast-variant='info']
  span
  svg:not([data-loader-icon] svg) {
  color: var(--info-color);
  fill: var(--info-color);
  stroke: var(--text-color-foreground);
}

[data-toast-item] {
  --y: translateY(100%);
  overflow-wrap: anywhere;
  z-index: var(--z-index);
  position: absolute;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  border-radius: var(--border-radius);
  transform: var(--y);
  transition: transform 0.4s, opacity 0.4s, height 0.4s, box-shadow 0.2s;
  background: var(--background);
  color: var(--text-color);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

[data-toast-item] [data-toast-title] {
  font-weight: 600;
  color: var(--highlight-color);
  font-size: 16px;
}
[data-loader-icon-wrapper],
[data-set-icon] {
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-promise-content] {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

[data-loader-icon] {
  animation: spin 1s linear infinite;
}
[data-icon-type='error'] svg {
  stroke: var(--error-color);
}

[data-icon-type='success'] svg {
  stroke: var(--success-color);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
